@use "mixins" as *;

@include font-face("Montserrat", "Montserrat-SemiBold", 600);
@include font-face("Montserrat", "Montserrat-Bold", 700);
@include font-face("Montserrat", "Montserrat-ExtraBold", 800);

:root {
  --black: #000;
  --black-20: #333333;
  --black-30: #4D4D4D;
  --black-40: #666666;
  --black-60: #999999;
  --gold: #E5B000;
  --silver: #989898;
  --bronze: #CD9240;
  --green: #6FF69C;
  --yellow: #FFC300;
  --orange: #FF8800;
  --star-shadow: #C2940040;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea {
  background: none;
  border: 0;
  color: inherit;
  letter-spacing: inherit;
  padding: 0;
}

img,
svg {
  display: block;
}

textarea {
  resize: none;
}
