@use "mixins" as *;

@include font-face("Montserrat", "Montserrat-SemiBold", 600);
@include font-face("Montserrat", "Montserrat-Bold", 700);
@include font-face("Montserrat", "Montserrat-ExtraBold", 800);

:root {
  --font-black-20: #333333;
  --font-black-30: #4D4D4D;
  --font-black-40: #666666;
  --font-black-60: #999999;
  --pink: #C2A3AC;
  --gold: #E5B000;
  --silver: #989898;
  --bronze: #CD9240;
  --color-text: var(--font-black-20);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea {
  background: none;
  border: 0;
  color: inherit;
  letter-spacing: inherit;
  padding: 0;
}

img,
svg {
  display: block;
}

textarea {
  resize: none;
}
