@use "base";
@use "mixins" as *;

.white-pink {
  --theme-20: #3D2930;
  --theme-30: #5C3E48;
  --theme-40: #7A5260;
  --theme-55: #A37586;
  --theme-60: #C2709C;
  --theme-neutral: #D194BF;
  --theme-70: #E184B6;
  --theme-75: #E698C2;
  --theme-80: #EBADCE;
  --theme-85: #F2BFE3;
  --theme-87: #EFCCE5;
  --theme-90: #F7DEF4;
  --theme-92: #FAEAF8;
  --theme-98: #FDF7FC;

  --theme-main: #BA2C6C;
  --theme-main-light: #D85A93;
  --theme-active: #902254;
  --theme-active-light: #CE3178;
  --theme-drop-shadow: #9F2D4F40;
  --theme-bg: #F7E2F4;
  --theme-glass: #FBEAF080;
  --theme-modal: #FDF7FCCC;
  --theme-note: #FDF7FC80;

  .points {
    --count-icon: url(/images/points.svg);
  }
}

.gray-brown {
  --theme-20: #3D3529;
  --theme-30: #5C503D;
  --theme-40: #7A6152;
  --theme-60: #AD9485;
  --theme-neutral: #D1AB94;
  --theme-70: #DAB48B;
  --theme-75: #E0C09E;
  --theme-80: #DDC5BB;
  --theme-85: #DDC5BB;
  --theme-87: #E9D2B9;
  --theme-90: #E9D2B9;
  --theme-92: #F5EBE0;
  --theme-98: #FDFAF7;

  --theme-main: #7A513F;
  --theme-main-light: #BF7A50;
  --theme-active: #573A2D;
  --theme-active-light: #A1613B;
  --theme-drop-shadow: #7A513F66;
  --theme-bg: #F3E6D8;
  --theme-glass: #F3E6D880;
  --theme-modal: #FDFAF7CC;
  --theme-note: #FDFAF780;

  .points {
    --count-icon: url(/images/points-brown.svg);
  }
}

:disabled {
  opacity: 0.75;
}

.main {
  --navbar-height: 71px;
  --theme-main-gradient: linear-gradient(var(--theme-main-light) 20%, var(--theme-main));
  --theme-active-gradient: linear-gradient(var(--theme-active-light) 20%, var(--theme-active));
  --shadow-normal: 0 2px 4px var(--theme-drop-shadow);
  --shadow-active: inset 0 2px 4px 1px var(--theme-drop-shadow);
  --bounce: cubic-bezier(0.439, 1.477, 0.163, 0.875);

  @include grid;
  position: fixed;
  inset: 0;
  grid-template-rows: 1fr auto;
  background: var(--theme-bg);
  color: var(--theme-20);
  font: 16px "Montserrat", sans-serif;
  letter-spacing: -0.02em;
}

.content {
  @include flex;
  overflow: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.view {
  min-width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  outline: 0;
}

.block {
  background-color: var(--theme-98);
  border-radius: 14px;
  box-shadow: var(--shadow-normal);
}

@property --themeGradient1 {
  syntax: "<color>";
  initial-value: #000;
  inherits: true;
}

@property --themeGradient2 {
  syntax: "<color>";
  initial-value: #000;
  inherits: true;
}

.button-animated {
  box-shadow:
    var(--shadow-normal),
    inset 0 0 var(--theme-drop-shadow);
  transition: all 0.2s linear;

  &:active {
    box-shadow:
      0 0 var(--theme-drop-shadow),
      var(--shadow-active);
  }
}

.gradient-text {
  --themeGradient1: var(--theme-main-light);
  --themeGradient2: var(--theme-main);
  background: linear-gradient(var(--themeGradient1) 20%, var(--themeGradient2));
  background-clip: text;
  color: transparent;
  transition: 0.2s linear;
  transition-property: --themeGradient1, --themeGradient2;
}

.confirm-button {
  --themeGradient1: var(--theme-main-light);
  --themeGradient2: var(--theme-main);
  width: 100%;
  background: linear-gradient(var(--themeGradient1) 20%, var(--themeGradient2));
  border-radius: 13px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  transition: 0.2s linear;
  transition-property: all, --themeGradient1, --themeGradient2;

  &:active {
    --shadow-active: inset 0 4px 4px 2px #280B1440;
    --themeGradient1: var(--theme-active-light);
    --themeGradient2: var(--theme-active);
  }
}

.gradient-border {
  --border-size: 2px;
  position: relative;
  background-clip: padding-box;
  border: var(--border-size) solid transparent;

  &::before {
    content: "";
    position: absolute;
    inset: calc(-1 * var(--border-size));
    background: var(--theme-main-gradient);
    border-radius: inherit;
    z-index: -1;
  }
}

.secondary-button {
  width: 100%;
  height: 48px;
}

.dialog-buttons {
  @include flex(8px);
  margin-top: 20px;
}

.dialog-button {
  min-width: 110px;
  height: 40px;
  background: #E6E6E6;
  color: var(--theme-20);
  font-size: 16px;

  &--yes {
    background: var(--theme-80);
  }
}

.h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.container {
  padding: 0 25px;
}

.scrollable {
  --fade-height: 12px;
  position: relative;
  margin: 0 calc(-1 * var(--side-padding, 0px));
  padding: 0 var(--side-padding, 0px);
  overflow: auto;
  scrollbar-width: none;

  &::before,
  &::after {
    content: "";
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--fade-height);
    background: linear-gradient(var(--theme-bg), transparent);
  }

  &::before {
    z-index: 9;
  }

  &::after {
    bottom: 0;
    rotate: 180deg;
  }
}

.count {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;

  &::after {
    content: var(--count-icon);
    width: 15px;
    line-height: 0;
  }
}

.checks {
  --count-icon: url(/images/bill.svg);
}

.separator {
  height: 17px;
  color: var(--theme-87);
  margin: 0 auto;
  flex-shrink: 0;
}

.field {
  width: 100%;
  background: var(--theme-92);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 12px;

  &:focus {
    outline: 2px solid var(--theme-90);
    outline-offset: -2px;
  }

  &:not(:focus):valid {
    background: var(--theme-90);
  }
}
