*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea {
  background: none;
  border: 0;
  color: inherit;
  letter-spacing: inherit;
}

img,
svg {
  display: block;
}

textarea {
  resize: none;
}

input[type="file"] {
  display: none;
}
